In [43]:
import pandas as pd
import numpy as np
import platform
import matplotlib.pyplot as plt
from selenium import webdriver
import time

path = 'c:/Windows/Fonts/malgun.ttf'
from matplotlib import font_manager, rc

font_name = font_manager.FontProperties(fname=path).get_name()

plt.rcParams['axes.unicode_minus'] = False

In [44]:
driver = webdriver.Chrome('../driver/chromedriver/chromedriver.exe')
driver.get("http://info.nec.go.kr/")

time.sleep(3)

driver.switch_to_default_content()
driver.switch_to_frame('main')

time.sleep(0.5)
driver.find_element_by_xpath("""//*[@id="header"]/ul[1]/li[2]/a""").click()

time.sleep(0.5)
driver.find_element_by_xpath("""//*[@id="header"]/ul[1]/li[2]/a""").click()

time.sleep(0.5)
driver.find_element_by_xpath("""//*[@id="presubmu"]/li[4]/a""").click()

time.sleep(0.5)
make_xpath = """//*[contains(text(), "개표현황(읍면동별)")]"""
driver.find_elements_by_xpath(make_xpath)[1].click()

time.sleep(0.5)
driver.find_element_by_xpath("""//*[@id="electionType4"]""").click()

time.sleep(0.5)
round_list_raw = driver.find_element_by_xpath("""//*[@id="electionName"]""")
round_list = round_list_raw.find_elements_by_tag_name("option")
round_name_values = [option.text for option in round_list]
round_names_values = round_name_values[1:]
print(round_names_values)

time.sleep(0.5)
element1 = driver.find_element_by_id("electionName")
print(element1.send_keys(round_names_values[0]))  # 제 7회

time.sleep(0.5)
code_list_raw = driver.find_element_by_xpath("""//*[@id="electionCode"]""")
code_list = code_list_raw.find_elements_by_tag_name("option")
code_name_values = [option.text for option in code_list]
code_names_values = code_name_values[1:]
print(code_names_values)

time.sleep(0.5)
element2 = driver.find_element_by_id("electionCode")
print(element2.send_keys(code_names_values[0]))  # 시·도지사선거

time.sleep(0.5)
sido_list_raw = driver.find_element_by_xpath("""//*[@id="cityCode"]""")
sido_list = sido_list_raw.find_elements_by_tag_name("option")
sido_names_values = [option.text for option in sido_list]
sido_names_values = sido_names_values[1:]
print(sido_names_values)

time.sleep(0.5)
element3 = driver.find_element_by_id("cityCode")
print(element3.send_keys(sido_names_values[0]))  # 서울특별시

time.sleep(0.5)
gusigun_list_raw = driver.find_element_by_xpath("""//*[@id="townCode"]""")
gusigun_list = gusigun_list_raw.find_elements_by_tag_name("option")
gusigun_names_values = [option.text for option in gusigun_list]
gusigun_names_values = gusigun_names_values[1:]
print(gusigun_names_values)

time.sleep(0.5)
element4 = driver.find_element_by_id("townCode")
element4.send_keys(gusigun_names_values[0])  # 종로구

time.sleep(0.5)
driver.find_element_by_xpath("""//*[@id="searchBtn"]""").click()

time.sleep(0.5)

time.sleep(0.5)

c:\users\taehui lee\anaconda3\envs\data_python\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: use driver.switch_to.default_content instead

c:\users\taehui lee\anaconda3\envs\data_python\lib\site-packages\ipykernel_launcher.py:7: DeprecationWarning: use driver.switch_to.frame instead
  import sys

['제7회', '제6회', '제5회', '제4회', '제3회', '제2회', '제1회']
None
['시·도지사선거', '구·시·군의 장선거', '시·도의회의원선거', '구·시·군의회의원선거', '광역의원비례대표선거', '기초의원비례대표선거', '교육감선거', '교육의원선거']
None
['서울특별시', '부산광역시', '대구광역시', '인천광역시', '광주광역시', '대전광역시', '울산광역시', '세종특별자치시', '경기도', '강원도', '충청북도', '충청남도', '전라북도', '전라남도', '경상북도', '경상남도', '제주특별자치도']
None
['종로구', '중구', '용산구', '성동구', '광진구', '동대문구', '중랑구', '성북구', '강북구', '도봉구', '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구', '구로구', '금천구', '영등포구', '동작구', '관악구', '서초구', '강남구', '송파구', '강동구']

In [45]:
from bs4 import BeautifulSoup

html = driver.page_source
soup = BeautifulSoup(html, 'html.parser')

tmp = soup.find_all('td', 'alignR')
tmp[1:4]

[<td class="alignR">81,195</td>,
 <td class="alignR">41,148</td>,
 <td class="alignR">18,777</td>]

In [46]:
from tqdm import tqdm_notebook

sido_name_list = []
gusigun_name_list = []

for sido_value in tqdm_notebook(sido_names_values):
    element = driver.find_element_by_id("cityCode")
    element.send_keys(sido_value)

    time.sleep(1)

    gusigun_list_raw = driver.find_element_by_xpath("""//*[@id="townCode"]""")
    gusigun_list = gusigun_list_raw.find_elements_by_tag_name("option")
    
    gusigun_names_values = [option.text for option in gusigun_list]
    gusigun_names_values = gusigun_names_values[1:]
    
    for gusigun_value in gusigun_names_values:
        sido_name_list.append(sido_value)
        gusigun_name_list.append(gusigun_value)

election_result = pd.DataFrame({'광역시도':sido_name_list, 
                                '시군':gusigun_name_list})
election_result

c:\users\taehui lee\anaconda3\envs\data_python\lib\site-packages\ipykernel_launcher.py:6: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`

HBox(children=(FloatProgress(value=0.0, max=17.0), HTML(value='')))

        광역시도    시군
0      서울특별시   종로구
1      서울특별시    중구
2      서울특별시   용산구
3      서울특별시   성동구
4      서울특별시   광진구
..       ...   ...
245     경상남도   산청군
246     경상남도   거창군
247     경상남도   합천군
248  제주특별자치도   제주시
249  제주특별자치도  서귀포시

[250 rows x 2 columns]

In [47]:
import numpy as np

def get_vote_info(n):
    html = driver.page_source
    soup = BeautifulSoup(html, 'lxml')
    
    tmp = soup.find_all('td', 'alignR')
    tmp_values = [float(tmp_val.get_text().replace(',', '')) 
                 for tmp_val in tmp[1:4]]
    
    pop[n] = tmp_values[0]
    minju[n] = tmp_values[1]
    tonghap[n] = tmp_values[2]
    gita[n] = tmp_values[0] - tmp_values[1] - tmp_values[2]

def fail_procedure(n):
    pop[n] = np.nan
    minju[n] = np.nan
    tonghap[n] = np.nan
    gita[n] = np.nan

pop = [np.nan]*len(election_result)
minju = [np.nan]*len(election_result)
hanguk = [np.nan]*len(election_result)
gita = [np.nan]*len(election_result)

len(pop), len(minju), len(hanguk), len(gita)

(250, 250, 250, 250)

In [49]:
for n in tqdm_notebook(election_result.index):
    try:
        element = driver.find_element_by_id("cityCode")
        element.send_keys(election_result['광역시도'][n])
        
        time.sleep(0.5)
        
        element = driver.find_element_by_id("townCode")
        element.send_keys(election_result['시군'][n])
        
        driver.find_element_by_xpath("""//*[@id="spanSubmit"]/input""").click()
        
        time.sleep(0.5)
        
        get_vote_info(n)
        
        time.sleep(0.5)
    except:
        print('---Error---')
        fail_procedure(n)
        
election_result['pop'] = pop
election_result['minju'] = minju
election_result['hanguk'] = hanguk
election_result['gita'] = gita
election_result.head()

c:\users\taehui lee\anaconda3\envs\data_python\lib\site-packages\ipykernel_launcher.py:1: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  """Entry point for launching an IPython kernel.

HBox(children=(FloatProgress(value=0.0, max=250.0), HTML(value='')))

---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---

    광역시도   시군       pop    minju  hanguk     gita
0  서울특별시  종로구   81195.0  41148.0     NaN  21270.0
1  서울특별시   중구   66474.0  34243.0     NaN  16613.0
2  서울특별시  용산구  116054.0  53964.0     NaN  31017.0
3  서울특별시  성동구  157863.0  84106.0     NaN  38879.0
4  서울특별시  광진구  180373.0  99366.0     NaN  42401.0

In [50]:
re_try_index = election_result[election_result['pop'].isnull()].index

for n in tqdm_notebook(re_try_index):
    try:
        element = driver.find_element_by_id("cityCode")
        element.send_keys(election_result['광역시도'][n])
        
        time.sleep(0.5)
        
        element = driver.find_element_by_id("townCode")
        element.send_keys(election_result['시군'][n])
        
        driver.find_element_by_xpath("""//*[@id="spanSubmit"]/input""").click()
        
        time.sleep(0.5)
        
        get_vote_info(n)
        
        time.sleep(0.5)
    except:
        print('---Error---')
        fail_procedure(n)

election_result['pop'] = pop
election_result['minju'] = minju
election_result['hanguk'] = hanguk
election_result['gita'] = gita
election_result.head()

c:\users\taehui lee\anaconda3\envs\data_python\lib\site-packages\ipykernel_launcher.py:3: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  This is separate from the ipykernel package so we can avoid doing imports until

HBox(children=(FloatProgress(value=0.0, max=83.0), HTML(value='')))

---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---

    광역시도   시군       pop    minju  hanguk     gita
0  서울특별시  종로구   81195.0  41148.0     NaN  21270.0
1  서울특별시   중구   66474.0  34243.0     NaN  16613.0
2  서울특별시  용산구  116054.0  53964.0     NaN  31017.0
3  서울특별시  성동구  157863.0  84106.0     NaN  38879.0
4  서울특별시  광진구  180373.0  99366.0     NaN  42401.0

In [51]:
re_try_index = election_result[election_result['pop'].isnull()].index

for n in tqdm_notebook(re_try_index):
    try:
        element = driver.find_element_by_id("cityCode")
        element.send_keys(election_result['광역시도'][n])
        
        time.sleep(0.5)
        
        element = driver.find_element_by_i("townCode")
        element.send_keys(election_result['시군'][n])
        
        driver.find_element_by_xpath("""//*[@id="spanSubmit"]/input""").click()
        
        time.sleep(0.5)
        
        get_vote_info(n)
        
        time.sleep(0.5)
    except:
        print('---Error---')
        fail_procedure(n)

election_result['pop'] = pop
election_result['minju'] = minju
election_result['hanguk'] = hanguk
election_result['gita'] = gita
election_result.head()

c:\users\taehui lee\anaconda3\envs\data_python\lib\site-packages\ipykernel_launcher.py:3: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  This is separate from the ipykernel package so we can avoid doing imports until

HBox(children=(FloatProgress(value=0.0, max=39.0), HTML(value='')))

---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---

    광역시도   시군       pop    minju  hanguk     gita
0  서울특별시  종로구   81195.0  41148.0     NaN  21270.0
1  서울특별시   중구   66474.0  34243.0     NaN  16613.0
2  서울특별시  용산구  116054.0  53964.0     NaN  31017.0
3  서울특별시  성동구  157863.0  84106.0     NaN  38879.0
4  서울특별시  광진구  180373.0  99366.0     NaN  42401.0

In [52]:
re_try_index = election_result[election_result['pop'].isnull()].index

for n in tqdm_notebook(re_try_index):
    try:
        element = driver.find_element_by_id("cityCode")
        element.send_keys(election_result['광역시도'][n])
        
        time.sleep(0.5)
        
        element = driver.find_element_by_i("townCode")
        element.send_keys(election_result['시군'][n])
        
        driver.find_element_by_xpath("""//*[@id="spanSubmit"]/input""").click()
        
        time.sleep(0.5)
        
        get_vote_info(n)
        
        time.sleep(0.5)
    except:
        print('---Error---')
        fail_procedure(n)

election_result['pop'] = pop
election_result['minju'] = minju
election_result['hanguk'] = hanguk
election_result['gita'] = gita
election_result.head()

c:\users\taehui lee\anaconda3\envs\data_python\lib\site-packages\ipykernel_launcher.py:3: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  This is separate from the ipykernel package so we can avoid doing imports until

HBox(children=(FloatProgress(value=0.0, max=39.0), HTML(value='')))

---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---

    광역시도   시군       pop    minju  hanguk     gita
0  서울특별시  종로구   81195.0  41148.0     NaN  21270.0
1  서울특별시   중구   66474.0  34243.0     NaN  16613.0
2  서울특별시  용산구  116054.0  53964.0     NaN  31017.0
3  서울특별시  성동구  157863.0  84106.0     NaN  38879.0
4  서울특별시  광진구  180373.0  99366.0     NaN  42401.0

In [53]:
re_try_index = election_result[election_result['pop'].isnull()].index

for n in tqdm_notebook(re_try_index):
    try:
        element = driver.find_element_by_id("cityCode")
        element.send_keys(election_result['광역시도'][n])
        
        time.sleep(0.5)
        
        element = driver.find_element_by_i("townCode")
        element.send_keys(election_result['시군'][n])
        
        driver.find_element_by_xpath("""//*[@id="spanSubmit"]/input""").click()
        
        time.sleep(0.5)
        
        get_vote_info(n)
        
        time.sleep(0.5)
    except:
        print('---Error---')
        fail_procedure(n)

election_result['pop'] = pop
election_result['minju'] = minju
election_result['hanguk'] = hanguk
election_result['gita'] = gita
election_result.head()

c:\users\taehui lee\anaconda3\envs\data_python\lib\site-packages\ipykernel_launcher.py:3: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  This is separate from the ipykernel package so we can avoid doing imports until

HBox(children=(FloatProgress(value=0.0, max=39.0), HTML(value='')))

---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---

    광역시도   시군       pop    minju  hanguk     gita
0  서울특별시  종로구   81195.0  41148.0     NaN  21270.0
1  서울특별시   중구   66474.0  34243.0     NaN  16613.0
2  서울특별시  용산구  116054.0  53964.0     NaN  31017.0
3  서울특별시  성동구  157863.0  84106.0     NaN  38879.0
4  서울특별시  광진구  180373.0  99366.0     NaN  42401.0

In [54]:
re_try_index = election_result[election_result['pop'].isnull()].index

for n in tqdm_notebook(re_try_index):
    try:
        element = driver.find_element_by_id("cityCode")
        element.send_keys(election_result['광역시도'][n])
        
        time.sleep(0.5)
        
        element = driver.find_element_by_i("townCode")
        element.send_keys(election_result['시군'][n])
        
        driver.find_element_by_xpath("""//*[@id="spanSubmit"]/input""").click()
        
        time.sleep(0.5)
        
        get_vote_info(n)
        
        time.sleep(0.5)
    except:
        print('---Error---')
        fail_procedure(n)

election_result['pop'] = pop
election_result['minju'] = minju
election_result['hanguk'] = hanguk
election_result['gita'] = gita
election_result.head()

c:\users\taehui lee\anaconda3\envs\data_python\lib\site-packages\ipykernel_launcher.py:3: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  This is separate from the ipykernel package so we can avoid doing imports until

HBox(children=(FloatProgress(value=0.0, max=39.0), HTML(value='')))

---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---

    광역시도   시군       pop    minju  hanguk     gita
0  서울특별시  종로구   81195.0  41148.0     NaN  21270.0
1  서울특별시   중구   66474.0  34243.0     NaN  16613.0
2  서울특별시  용산구  116054.0  53964.0     NaN  31017.0
3  서울특별시  성동구  157863.0  84106.0     NaN  38879.0
4  서울특별시  광진구  180373.0  99366.0     NaN  42401.0

In [55]:
re_try_index = election_result[election_result['pop'].isnull()].index

for n in tqdm_notebook(re_try_index):
    try:
        element = driver.find_element_by_id("cityCode")
        element.send_keys(election_result['광역시도'][n])
        
        time.sleep(0.5)
        
        element = driver.find_element_by_i("townCode")
        element.send_keys(election_result['시군'][n])
        
        driver.find_element_by_xpath("""//*[@id="spanSubmit"]/input""").click()
        
        time.sleep(0.5)
        
        get_vote_info(n)
        
        time.sleep(0.5)
    except:
        print('---Error---')
        fail_procedure(n)

election_result['pop'] = pop
election_result['minju'] = minju
election_result['hanguk'] = hanguk
election_result['gita'] = gita
election_result.head()

c:\users\taehui lee\anaconda3\envs\data_python\lib\site-packages\ipykernel_launcher.py:3: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  This is separate from the ipykernel package so we can avoid doing imports until

HBox(children=(FloatProgress(value=0.0, max=39.0), HTML(value='')))

---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---

    광역시도   시군       pop    minju  hanguk     gita
0  서울특별시  종로구   81195.0  41148.0     NaN  21270.0
1  서울특별시   중구   66474.0  34243.0     NaN  16613.0
2  서울특별시  용산구  116054.0  53964.0     NaN  31017.0
3  서울특별시  성동구  157863.0  84106.0     NaN  38879.0
4  서울특별시  광진구  180373.0  99366.0     NaN  42401.0

In [56]:
re_try_index = election_result[election_result['pop'].isnull()].index

for n in tqdm_notebook(re_try_index):
    try:
        element = driver.find_element_by_id("cityCode")
        element.send_keys(election_result['광역시도'][n])
        
        time.sleep(0.5)
        
        element = driver.find_element_by_i("townCode")
        element.send_keys(election_result['시군'][n])
        
        driver.find_element_by_xpath("""//*[@id="spanSubmit"]/input""").click()
        
        time.sleep(0.5)
        
        get_vote_info(n)
        
        time.sleep(0.5)
    except:
        print('---Error---')
        fail_procedure(n)

election_result['pop'] = pop
election_result['minju'] = minju
election_result['hanguk'] = hanguk
election_result['gita'] = gita
election_result.head()

c:\users\taehui lee\anaconda3\envs\data_python\lib\site-packages\ipykernel_launcher.py:3: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  This is separate from the ipykernel package so we can avoid doing imports until

HBox(children=(FloatProgress(value=0.0, max=39.0), HTML(value='')))

---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---

    광역시도   시군       pop    minju  hanguk     gita
0  서울특별시  종로구   81195.0  41148.0     NaN  21270.0
1  서울특별시   중구   66474.0  34243.0     NaN  16613.0
2  서울특별시  용산구  116054.0  53964.0     NaN  31017.0
3  서울특별시  성동구  157863.0  84106.0     NaN  38879.0
4  서울특별시  광진구  180373.0  99366.0     NaN  42401.0

In [57]:
re_try_index = election_result[election_result['pop'].isnull()].index

for n in tqdm_notebook(re_try_index):
    try:
        element = driver.find_element_by_id("cityCode")
        element.send_keys(election_result['광역시도'][n])
        
        time.sleep(0.5)
        
        element = driver.find_element_by_i("townCode")
        element.send_keys(election_result['시군'][n])
        
        driver.find_element_by_xpath("""//*[@id="spanSubmit"]/input""").click()
        
        time.sleep(0.5)
        
        get_vote_info(n)
        
        time.sleep(0.5)
    except:
        print('---Error---')
        fail_procedure(n)

election_result['pop'] = pop
election_result['minju'] = minju
election_result['hanguk'] = hanguk
election_result['gita'] = gita
election_result.head()

c:\users\taehui lee\anaconda3\envs\data_python\lib\site-packages\ipykernel_launcher.py:3: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  This is separate from the ipykernel package so we can avoid doing imports until

HBox(children=(FloatProgress(value=0.0, max=39.0), HTML(value='')))

---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---
---Error---

    광역시도   시군       pop    minju  hanguk     gita
0  서울특별시  종로구   81195.0  41148.0     NaN  21270.0
1  서울특별시   중구   66474.0  34243.0     NaN  16613.0
2  서울특별시  용산구  116054.0  53964.0     NaN  31017.0
3  서울특별시  성동구  157863.0  84106.0     NaN  38879.0
4  서울특별시  광진구  180373.0  99366.0     NaN  42401.0

In [58]:
election_result.to_csv('./round07_election_result.csv', encoding='utf-8',  sep=',')